VITE_API_URL=http://localhost:3000
VITE_APP_TITLE=AgentStudio
VITE_LOGO_URL=https://gcppublicbucket.monimage.svg
VITE_THEME_KEY=coral or blue
VITE_FAVICON_URL=https://gcppublicbucket.monfavicon.svg
VITE_PREMIUM_EMAIL_DOMAIN=@bayesimpact.org

# Auth0
VITE_AUTH0_DOMAIN=your-tenant.auth0.com
VITE_AUTH0_CLIENT_ID=XXX
VITE_AUTH0_AUDIENCE=https://your-tenant.auth0.com/api/v2/
VITE_AUTH0_ORGANIZATION_ID=org_XXXX
