VITE_API_URL=http://localhost:3000
VITE_APP_TITLE=AgentStudio
VITE_LOGO_URL=https://gcppublicbucket.monimage.png
VITE_THEME_KEY=coral or blue

# Auth0
VITE_AUTH0_DOMAIN=bayes-impact.eu.auth0.com
VITE_AUTH0_CLIENT_ID=XXX
VITE_AUTH0_AUDIENCE=https://bayes-impact.eu.auth0.com/api/v2/
VITE_AUTH0_ORGANIZATION_ID=org_XXXX
