TZ='UTC'
GOOGLE_APPLICATION_CREDENTIALS=../../dontsave/caseai-connect-XXX.json

LANGFUSE_SK=XXX
LANGFUSE_PK=XXX
LANGFUSE_BASE_URL=XXX

# PostHog (optional - use the same project/API key as web)
POSTHOG_KEY=phc_xxx
POSTHOG_HOST=https://eu.i.posthog.com

#Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=connect_admin
DATABASE_PASSWORD=passpass
DATABASE_NAME=connect

# Auth0
AUTH0_ISSUER_URL=https://bayes-impact.eu.auth0.com/
AUTH0_AUDIENCE=https://bayes-impact.eu.auth0.com/api/v2/

# Auth0 Invitations (see docs/specs/auth0-invitation-sending.md)
AUTH0_ORGANIZATION_ID=org_XXX
AUTH0_CLIENT_ID=XXX
AUTH0_M2M_CLIENT_ID=XXX
AUTH0_M2M_CLIENT_SECRET=XXX

# File Storage Config
LOCAL_STORAGE_SERVER_BASE_URL=https://connect.localhost:3000
# GCS_STORAGE_BUCKET_NAME=test-connect-file-storage
# GCS_CREDENTIALS=../../../dontsave/bayes-agents-xx.json
