TZ='UTC'
GOOGLE_APPLICATION_CREDENTIALS=../../dontsave/caseai-connect-XXX.json

LANGFUSE_SK=XXX
LANGFUSE_PK=XXX
LANGFUSE_BASE_URL=XXX

#Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=connect_admin
DATABASE_PASSWORD=passpass
DATABASE_NAME=connect

# Auth0
AUTH0_ISSUER_URL=https://your-tenant.auth0.com/
AUTH0_AUDIENCE=https://your-tenant.auth0.com/api/v2/

# File Storage Config
# GCS_STORAGE_BUCKET_NAME=test-caseai-file-storage
# GCS_CREDENTIALS=../../../dontsave/bayes-agents-xx.json
